*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
html,body
{
width: 100%;
height: 100%;
}
#main{
    height: 100vh;
    width: 100vw;
    background-color: #9a2626;
}
#nav{
    height: 10%;
    width: 100%;
    background: linear-gradient(to left bottom,#7adce1,#ebebeb);
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    z-index: 99;
}
#main #nav #div1 h1{
    font-size: 40px;
    position: relative;
}
#nav #div1 h1::after{
    content: "We are Bansalite";
    font-size: 12px;
    position: absolute;
    /* bottom: 1%; */
    top: 83%;
    left: 12%;
    font-weight: 900;
    font-family: head;
}
#main #nav #div2 {
    font-size: 12px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    gap: 20px;
}
#main #nav #div2 button{
    height: 40px;
    width: 100px;
    border-radius: 30px;
    background-color: rgba(0, 0, 255, 0.345);
    overflow: hidden;
    color: white;
    border: hidden;
}
#main #nav #div2 button:hover{
    background-color: blue;
    color: hsl(0, 0%, 100%);
}
#nav #div2 h3 a{
    color: #000000;
    border: none;
    text-decoration: none;
}
#nav #div2 button a{
    color: #000000;
    border: none;
    text-decoration: none;
}
#nav #div2 button a:hover{
    color: #fcfcfc;
    border: none;
    text-decoration: none;
}
#page1{
    height: 100%;
    width: 100%;
    background: linear-gradient(to left bottom,rgba(0, 0, 255, 0.689),#ebebeb);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    position: relative;
}
#page1 #div1 h1{
    font-size: 50px;
}
#page1 #div1 h2{
    font-size: 30px;
}
#page1 #div1 button{
    font-size: 30px;
    background:rgba(0, 0, 255, 0.617);
    color: white;
    border-radius: 30%;
    border: hidden;
    overflow: hidden;
}
#page1 #div2 img{ 
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50%;
}
#page1 #div1 button{
    height: 40px;
    width: 100px;
    border-radius: 30px;
    background-color: rgba(0, 0, 255, 0.345);
    overflow: hidden;
    color: white;
    border: hidden;
    font-size: 12px;
}
#page1 #div1 button:hover{
    background-color: rgb(254, 254, 254);
    color: blue;
}
#page1 #div1 button a{
    color: #000000;
    border: none;
    text-decoration: none;
}
#page1 #div1 button a:hover{
    color: #000000;
    border: none;
    text-decoration: none;
}
#page2{
    height: 30%;
    width: 100%;
    /* background-color: #99d1e991; */
    background: linear-gradient(to left bottom,rgba(0, 0, 255, 0.358),#ebebeb);
    overflow: hidden;
    border: none;
}
#page2 h1{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
#page2 #div1{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 65px;
}
#page2 #div2{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 50px;
   
}
#page2 #div2 h2{
    font-size: 15px;
    /* position: absolute; */
    left: 40%;
}
#page3{
    height: 100%;
    width: 100%;
    /* background-color: #c3deea; */
    background: linear-gradient(to left bottom,rgba(0, 0, 255, 0.403),#ebebeb);
}
#page3 h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
#page3 #div1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
#page3 #div1 img{
    height: 70px;
    width: 80px;
}
#page3 #div2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
#page3 #div2 img{
    height: 70px;
    width: 80px;
}
#page3 #div3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
#page3 #div3 img{
    height: 70px;
    width: 80px;
}
#page3 #div4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
#page3 #div4 img{
    height: 70px;
    width: 80px;
}
#header{
    height: 10%;
    width: 100%;
    background-color: rgb(178, 234, 243);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
#header #div1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
#header #div2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
#end{
    height: 60%;
    width: 100%;
    background: linear-gradient(to left bottom,rgba(0, 0, 255, 0.403),#ebebeb);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
#end #div1 img{
    border-radius: 30%;
}
#end #div2 h2{ 
    font-size: 20px;
}
#end #div3 h2{ 
    font-size: 20px;
}
#page4{
    height: 100%;
    width: 100%;
    /* background-color:violet; */
}
#page4 h1{
    display:flex;
    align-items: center;
    justify-content: center;
}
#page4 #div1{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 170px;
    font-size: 12px;
}
#page4 #div2{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 0 170px;
    font-size: 12px;
}
#page4 h2{
    display:flex;
    align-items: center;
    justify-content: center;
}
#page4 button{
    display:flex;
    align-items: center;
    justify-content: center;
}